<div class="h-100 cn-relative">
    <div class="cn-deep-zoom-container h-100" #mapContainer>
    </div>

    <div class="cn-absolute cn-dz-layer-controls bg-background rounded mat-elevation-z1"
        style="top: 16px; left:16px; z-index: 1000;">
        <div *ngFor="let l of layerControls" class="d-flex align-items-center cn-dz-layer w-100">
            <div class="cn-dz-layer-preview cn-bg-cover" [appBgImage]="l.previewImage | cnUrl : item"></div>
            <div class="mx-2">{{ l.title }}</div>
            <mat-slider class="ml-auto mr-2" min="0" step="0.01" max="1" [disabled]="!l.visible"
                (ngModelChange)="l.opacity=$event; updateLayers()" [ngModel]="l.opacity">
            </mat-slider>
            <button mat-icon-button (click)="l.visible=!l.visible; updateLayers()">
                <mat-icon *ngIf="l.visible">visibility</mat-icon>
                <mat-icon *ngIf="!l.visible" style="opacity: 0.25;">visibility_off</mat-icon>
            </button>
        </div>
    </div>

    <div class="cn-absolute mat-elevation-z1 bg-background rounded"
        style="z-index: 1000; bottom:16px; left:50%; transform: translateX(-50%)">

        <mat-menu #unitsMenu>
            <button mat-menu-item>
                <span>Pixels</span>
            </button>
            <button mat-menu-item>
                <span>Inches</span>
            </button>
            <button mat-menu-item>
                <span>Meters</span>
            </button>
        </mat-menu>

        <div class="d-flex p-2 align-items-center">
            <button mat-icon-button (click)="tool='pan'" [class.cn-opacity-25]="tool !== 'pan'">
                <mat-icon>pan_tool</mat-icon>
            </button>
            <button mat-icon-button (click)="tool='measure'" [class.cn-opacity-25]="tool !== 'measure'">
                <mat-icon>square_foot</mat-icon>
            </button>
            <button mat-button [matMenuTriggerFor]="unitsMenu">
                Pixels
            </button>
            <div class="border-left"></div>
            <button mat-icon-button (click)="map.zoomIn()">
                <mat-icon>zoom_in</mat-icon>
            </button>
            <button mat-icon-button (click)="map.zoomOut()">
                <mat-icon>zoom_out</mat-icon>
            </button>
            <button mat-icon-button (click)="resetCamera()">
                <mat-icon>zoom_out_map</mat-icon>
            </button>
        </div>
    </div>

</div>