<ng-container *ngIf="item && config">
    <div class="cn-app-container cn-bg-fixed" [appBgImage]="config.backgroundImage">
        <div class="cn-app-header d-flex align-items-center">
            <div>
                <h3>Basilica di Santa Croce - Cappella Maggiore, Firenze</h3>
            </div>
            <div class="ml-auto">
                <button (click)="goBack()">Back</button>
                <button (click)="goUp()">Up</button>
            </div>
        </div>
        <div class="cn-app-content">
            <app-item [item]="item"></app-item>
        </div>
    </div>
</ng-container>