.cn-three-viewer {
  @extend .cn-relative;
  @extend .w-100;
  @extend .h-100;

  .cn-three-viewer-container {
    @extend .cn-absolute;
    @extend .w-100;
    @extend .h-100;
  }

  .cn-three-viewer-controls {
    position: absolute;
    top: 16px;
    left: 16px;
  }

}

