.cn-deep-zoom-container {
  @extend .cn-relative;
}
.cn-dz-layer-controls {
  @extend .cn-absolute;
  overflow: hidden;
  top: 16px;
  left: 16px;
  z-index: 1;

  .cn-dz-layer {
    &:not(:last-child) {
      @extend .border-bottom;
    }


    .cn-dz-layer-preview {
      width: 3rem;
      height: 3rem;
    }
  }
}

.cn-dz-minimap {
  @extend .cn-absolute;
  width: 10rem;
  top: 16px;
  right: 16px;
  z-index: 1;

  .cn-dz-minimap-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-size: 100% 100%;

    .cn-dz-minimap-track {
      position: absolute;
      border: 1px solid theme-color("accent");
      background-color: transparentize($color: theme-color("accent"), $amount: 0.9);
    }

  }
}

.cn-dz-tools {
  @extend .cn-absolute;
  z-index: 1;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
