<div class="h-100 cn-relative">
    <div class="cn-deep-zoom-container h-100" style="z-index: 0; background-color: transparent;" #mapContainer>
    </div>

    <div class="cn-dz-layer-controls bg-background rounded mat-elevation-z4" style="z-index: 1;">
        <div *ngFor="let l of layerControls" class="d-flex align-items-center cn-dz-layer w-100">
            <div class="cn-dz-layer-preview cn-bg-cover" [style.background-color]="l.color" [appBgImage]="l.previewImage | cnUrl : item"></div>
            <div class="mx-2">{{ l.title }}</div>
            <mat-slider class="ml-auto mr-2" min="0" step="0.01" max="1" [disabled]="!l.visible"
                (ngModelChange)="l.opacity=$event; updateLayers()" [ngModel]="l.opacity">
            </mat-slider>
            <button mat-icon-button (click)="l.visible=!l.visible; updateLayers()">
                <mat-icon *ngIf="l.visible">visibility</mat-icon>
                <mat-icon *ngIf="!l.visible" style="opacity: 0.25;">visibility_off</mat-icon>
            </button>
        </div>
    </div>

</div>